logs/*
scripts/output/
dags/__pycache__/
*.log
scripts/scheduler/

scripts/dag_processor_manager
dags/simple_xcom_example.py
.DS_Store
scripts/processed/
dags-archive/
scripts/temp/extracted_customers/
scripts/temp/extracted_sales/
__pycache__/

scripts/input/
dags/*